<div class="col-md-12 nav-wrapper">
  <div class="navbar-header" style="width:100%;">
    <a href="index.html" class="navbar-brand">
     <b>Firetron</b>
    </a>

    {{!-- <ul class="nav navbar-nav search-nav">
      <li>
        <div class="search">
          <span class="fa fa-search icon-search" style="font-size:23px;"></span>
          <div class="form-group form-animate-text">
            <input type="text" class="form-text" required>
            <span class="bar"></span>
            <label class="label-search">Pesqu</label>
          </div>
        </div>
      </li>
    </ul> --}}
    <button class="btn-success btn-refresh" name="button" {{action 'refreshTables'}}><i class="fa fa-refresh" aria-hidden="true"></i></button>
  </div>
</div>
