<div id="left-menu">
  <div class="sub-left-menu">
    <ul class="nav nav-list">
      {{#each tables as |table|}}
        <li class="ripple" {{action 'showRegisters' table}}>
          <a class="tree-toggle nav-header"><i class="fa fa-table" aria-hidden="true"></i> {{table}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
